<a href="https://colab.research.google.com/github/ElZho/Graduation-project-Predict-Disaster-tweets/blob/main/Merge_into_one_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import sys
import gc

#Объединим данные в один дата фрайм

чтобы упростить обработку

In [ ]:
test['krit']=0
train['krit']=1
data_union=pd.concat([train, test])

In [ ]:
data_union.head(10)

   id keyword  ... target krit
0   1     NaN  ...    1.0    1
1   4     NaN  ...    1.0    1
2   5     NaN  ...    1.0    1
3   6     NaN  ...    1.0    1
4   7     NaN  ...    1.0    1
5   8     NaN  ...    1.0    1
6  10     NaN  ...    1.0    1
7  13     NaN  ...    1.0    1
8  14     NaN  ...    1.0    1
9  15     NaN  ...    1.0    1

[10 rows x 6 columns]